.gameboard {
  width: 100%;
}

.gameboard__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard__row {
  display: flex;
  flex-direction: row;
}

.word {
  border: 1px solid #3a3a3c;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  font-size: 26px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.word--green {
  background-color: #538d4e;
}

.word--yellow {
  background-color: #b59f3b;
}

.word--grey {
  background-color: #3a3a3c;
}
